<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:usesCleartextTraffic="true">
        <receiver
            android:name=".DebugMessagingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.dupuis.bigface.DEBUG_INCOMING_CALL"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
