.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--space-lg);
}

.empty-state {
  text-align: center;
  padding: var(--space-2xl) var(--space-lg);

  & > .icon {
    width: 64px;
    height: 64px;
    background: var(--color-slate-800);
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto var(--space-lg);
  }

  & > .icon > svg {
    width: 32px;
    height: 32px;
    color: var(--color-slate-700);
  }

  & > .title {
    font-size: var(--font-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    margin: 0 0 var(--space-8) 0;
  }

  & > .text {
    color: var(--color-gray-light);
    margin: 0;
  }

  & > .text > a {
    color: var(--color-indigo);
  }
}
